.container{
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  margin-left: 18%;

}

.right-section{
  background: linear-gradient(to left,#0000004b, #0009), url('https://img.freepik.com/premium-photo/woman-jumping-while-holding-her-shopping-bags_23-2148302844.jpg?w=360');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 5;
  box-sizing: border-box;
}